[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
langchain = "*"
openai = "*"
chromadb = "*"
tiktoken = "*"
unstructured = "*"
Flask-Cors = "*"
flask-limiter = "*"

[requires]
python_version = "3.10"