[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
langchain-community = "0.0.29"
flask-cors = "*"
flask-limiter = "*"
langchain = "0.1.13"
langchain-openai = "*"
openai = "*"
chromadb = "*"
tiktoken = "*"
pdf2image = "*"
poppler-utils = "*"
pytesseract = "*"
"unstructured.pytesseract" = "*"
unstructured = {extras = ["csv","pdf","doc","docx","ppt","pptx","xlsx","rtf"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
